<form method="get" class="row mb-3">

    <div class="col-md-3">

        <input
            type="number"
            name="month"
            min="1"
            max="12"
            value="@ViewBag.Month"
            class="form-control"
            placeholder="Month" />

    </div>

    <div class="col-md-3">

        <input
            type="number"
            name="year"
            value="@ViewBag.Year"
            class="form-control"
            placeholder="Year" />

    </div>

    <div class="col-md-auto">

        <button class="btn btn-success">

            Filter

        </button>

    </div>

</form>